html {
    box-sizing: border-box; 
    /* this will stretch page based on padding */
}

body {
    margin: 0;
    min-height: 100vh;
    /* view port height which means entire height of the screen 
    if though the content is not screen size but entire screen 
    background-color: blue; 
    */
}