html {
    box-sizing: border-box; 
    /* When you use box-sizing: border-box;, the padding and border are included
     within the width and height you set for the element, not added to it.
      This makes it easier to 
    manage the element's size without having to account for padding and border.*/
}

body {
    margin: 0;
    min-height: 100vh;
    /*Full-page layouts: Ensuring that the body or a specific
     container covers at least the full screen height, even 
     if the content is not enough to fill the page.

    */
}